# git repertory project configuration 
[core] 
	repositoryformatversion = 0 
	filemode = true 
	bare = false 
	logallrefupdates = true 
	symlinks = true 
	ignorecase = false 
	autocrlf = false 
	safecrlf = warn 
[http] 
	sslVerify = false 
[user] 
	name = lsgxeva 
	email = lsgxthink@gmail.com 
[remote "origin"] 
	url = https://github.com/lsgxeva/openwrt.git 
	fetch = +refs/heads/*:refs/remotes/origin/* 
[remote "upstream"]
	url = https://github.com/openwrt/openwrt.git 
	fetch = +refs/heads/*:refs/remotes/upstream/* 
[remote "local"] 
	url = https://gitee.com/lsgx/openwrt.git 
	fetch = +refs/heads/*:refs/remotes/local/* 
[branch "master"] 
	remote = origin 
	merge = refs/heads/master 
[branch "openwrt-23.05"] 
	remote = origin 
	merge = refs/heads/openwrt-23.05 
[branch "lwrt-23.05"] 
	remote = origin 
	merge = refs/heads/lwrt-23.05 

